<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <div class="menu">
            <ion-title>Menu</ion-title>
          <img (click)="closeMenu()" src="../assets/icon/menu_close.svg" alt="">
          </div>
        </ion-toolbar>
      </ion-header>
      
      <ion-content class="ion-padding">
        <div class="menu-bg">
          <ion-list-header>
            <ion-label>
              SUPPORT
            </ion-label>
          </ion-list-header>
          <ion-item button detail="false" (click)="write()">
            <ion-icon name="create"></ion-icon>&nbsp;&nbsp;&nbsp;Write to Us
          </ion-item>
          <ion-item button detail="false" (click)="refer()">
            <ion-icon name="link"></ion-icon>&nbsp;&nbsp;&nbsp;Refer to a friend
          </ion-item>
          <ion-item button detail="false" (click)="visit()">
            <ion-icon name="open"></ion-icon>&nbsp;&nbsp;&nbsp;Visit Us
          </ion-item>
      </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
